@use "styles/material-theme";
@use "styles/angular-material-theme" as md;

@use "@angular/material" as mat;
@include mat.core();
$md-light-theme: mat.define-light-theme(
  (
    color: (
      primary: mat.define-palette(mat.$indigo-palette),
      accent: mat.define-palette(mat.$yellow-palette),
      warn: mat.define-palette(mat.$red-palette),
    ),
  )
);

$md-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: mat.define-palette(md.$primary),
      accent: mat.define-palette(md.$secondary),
      warn: mat.define-palette(md.$error),
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@media (prefers-color-scheme: light) {
  @include mat.all-component-themes($md-light-theme);
}

@media (prefers-color-scheme: dark) {
  @include mat.all-component-themes($md-dark-theme);
}

:root {
  color-scheme: only light;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
